.eyehide .eye-hide, .eyeshow .eye-show{
    display: block;
}
.eyehide .eye-show, .eyeshow .eye-hide{
    display: none;
}
.pw_creat{
	width: calc(100% - 40px);
    margin: 20px;
}
ion-item{
    --highlight-color-valid:rgb(23,150,221);
}