<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>{{ 'tabsCompanyPage.home' | translate }}</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          <ion-label>{{ 'tabsCompanyPage.search' | translate }}</ion-label>
        </ion-tab-button>
      <ion-tab-button tab="scout">
          <ion-icon name="compass"></ion-icon>
          <ion-label>{{ 'tabsCompanyPage.scout' | translate }}</ion-label>
        </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>{{ 'tabsCompanyPage.settings' | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>