<ion-content>
  <ion-row  class="quite_login_row" (click)="doWechatLogin()">
    <div class="wechat">
      <img [src]="wechatSrc">
      <div> WeChat </div>
    </div>
  </ion-row>
  <ion-row (click)="doFacebookLogin()">
    <div class="facebook">
      <img [src]="facebookSrc">
      <div> FaceBook </div>
    </div>
  </ion-row>
  <div class="btn_single">
    <ion-button color="primary" expand="block" round (click)="toAccountCreate()">
      {{ 'otherOptionPage.accountCreate' | translate }}
    </ion-button>
  </div>
  <ion-row class="fixed_foot">
    <div class="check">
      <ion-checkbox class="check_icon" color="primary" checked="true" [(ngModel)]="statuteCbx"></ion-checkbox>
      <div class="check_font" [innerHTML]=" 'loginQuitePage.statute' | translate "></div>
    </div>
  </ion-row>
</ion-content>