.logo{
    width: 60%;
    margin: 10% auto;
    img{
        width:100%;
    }
}
.welcom{
    width:100%;
    text-align: center;
    padding: 1.2rem 0;
    margin: 0 0 1.2rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(57, 57, 57);
}
.quick_load{
    display: flex;
    justify-content: center;
    .wechat{
        width: 24%;
        margin: 4% 8%;
        img{
            width: 100%;
        }
    }
    .facebook{
        width: 24%;
        margin: 4% 8%;
        img{
            width: 100%;
        }
    }
}
.login{
    text-align: center;
    width:100%;
    button{
        text-decoration: underline;
        font-size: 1.25rem;
        font-weight: bold;
        color:rgb(23,149,221);
        padding: .8rem;
        margin: 0 auto;
        background:#fff;
    }
}
.fixed_foot{
	width: 100%;
	margin-top: 10%;
	.other_load{
        text-align: center;
        width:100%;
        button{
            text-decoration: underline;
            font-size: 1.0rem;
            color:rgb(102,102,102);
            padding: .4rem;
            margin: 0 auto;
            background:#fff;
        }
    }
    .check{
        width:86%;
        margin: .8rem auto;
        text-align: center;
        .check_icon{
            margin: 0 auto -26px -64px;
        }
        .check_font{
            font-size: 0.875rem;
            text-align: center;
            line-height: 1.8rem;
        }
    }
}
@media screen and (max-width: 320px){
	.logo{
	    width: 60%;
	    margin: 5% auto;
	}
	.welcom{
		margin: 0;
	}
}