*:focus{
	outline: none;
}
.btn_single{
    margin: 20px;
    button{
        font-size: 1.125rem;
    }
}
.item_list{
    margin: 0 20px;
    .item{
        margin-bottom: 20px;
        ion-label{
            font-size: 1.125rem;
        }
        ion-input{
            border-bottom:1px solid #ddd;
			--padding-start: 0;
			--padding-top: 1.25rem;
			--padding-bottom: 0.85rem;
			font-size: 1.25rem;
        }
        ion-input:hover{
            border-bottom:2px solid rgb(23,150,221);
        }
    }
}
.item_title{
	font-size: 1.6rem;
	color:#666;
	margin: 50px 20px 70px 20px;
}
.tips{
	font-size: 1rem;
	color:rgb(27,151,222);
}
.m_4020{
	margin: 40px 20px;
}
.m_20{
	margin: 20px;
}
.m_lr_20{
	margin-left: 20px;
	margin-right: 20px;
}
.m_left{
	margin-left: 20px;
}
.m_right{
	margin-right: 20px;
}
.m_bottom{
	margin-bottom: 20px;
}
.m_top{
	margin-top: 20px;
}
.btn_next{
	float: right;
	margin: 40px 20px 0 0;
	ion-button{
		--padding-left: 10px;
		--padding-right: 10px;
	}
}
ion-button{
	font-size: 1.125rem;
}
@media screen and (max-width: 320px){
	.item_list{
	    .item{
	        margin-bottom: 10px;
	        ion-input{
				--padding-top: 0.85rem;
				--padding-bottom: 0.85rem;
	        }
	    }
	}
	.item_title{
		margin: 50px 20px;
	}
}